@model TevaInventorymanagementsystem.Models.UploadViewModel

@{
    ViewData["Title"] = "Upload Inventory";
}


<div class="row">
    <div class="col-md-6">
        <form asp-action="Upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ExcelFile" class="control-label">Upload Excel File</label>
                <input asp-for="ExcelFile" class="form-control" type="file" />
                <span asp-validation-for="ExcelFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="Index"> Go back</a>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
